body{
  margin: 0px;
  font-family: Helvetica,Arial,sans-serif;
}

.fixedwidth{
  width: 1050px;
  margin: 0 auto;
}
/*
#logodiv{
  padding: 1px 5px 0px 5px;
  float: left;
  border-right: 1px solid #BB1919;
  padding-right: 10px;
}
#signindiv{
  font-weight: bold;
  padding:2px 50px 5px 20px;
  font-size: 1em;
  float: left;
  border-right: 1px solid #BB1919;

}
#signindiv img{
  position: relative;
  top: 7px;
  right: 5px;
}
#topmenudiv{
  float: left;
}
#topmenudiv ul{
  margin:0;
  padding: 0;
}
#topmenudiv li{
  font-size: 1em;
  font-weight: bold;
  list-style: none;
  border-right: 1px solid #BB1919;
  height: 100%;
  padding: 10px 20px 9px 20px;
  float: left;
}
#searchdiv{
  float: left;
  padding: 4px 0 0 10px;
}
#searchdiv input{
  height: 25px;
  padding-left:  10px;
  font-size :.9em;
  background-image: url("../images/meg.jpg");
  background-repeat: no-repeat;
  background-position: right center;

}*/
.break{
  clear: both;
}
#newsbar{
  /*background-color: #7A0000;*/
  background-color: #1D3815;
  width: 100%;
  height: 118px;
  color: #484846;
  box-shadow: var(--shadow);
}
#newsbar p{
  margin: 0;
  padding: 0;
  padding-top: 11px;
  padding-left: 14px;
}
#newsheader{
  font-size: 3em;
  color: #fff;
}
#uk{
  font-size: .7em;
  padding-left: 15px;
}
#topicmenu{
  padding: 20px;
  padding-top: 22px;
}
#topicmenu ul{
  background-color: #A91717;
  margin: 0;
  padding: 8px 0 4px 5px;
  color: #fff;
  height: 20px;
  box-shadow: var(--shadow);
}
#topicmenu li{
  list-style: none;
  font-size: .9em;
  padding: 0 10px 0 16px;
  float: left;
  border-right: 1px solid #fff;
  background-color: none;

}
#topicmenu a{
  color: #fff;
  text-decoration: none;
}
#topicmenu a:hover{

  border-bottom: 10px solid #fff;
  }
.selected a{
  width: 100%;
  border-bottom: 10px solid #fff;

}
#content {
  width: 100%;
  color: #0D0D21;
  font-size: .8em;
}


#content h1 {
  margin: 0;
  padding-top: 10px;
  color: #1167A8;
  font-size: 2.5em;
}
.headlink :hover{
  text-decoration: underline;

}
.headlineimage{
  float: left;
  height: 300px;
  width: 450px;
}
.border{
  float: left;
    }

.newsitem{

  position: relative;
  left: 20px;
  top: -15px;
  width: 280px;
  float: left;
  font-size: 1.2em;
  text-align:justify;
}
.newsitem a{
  color: #1167B0;
  text-decoration: none;
}
.newsitem a:hover{
  text-decoration: underline;
}
.video {
    background-image: url("../images/player.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-bottom: 3px;
    padding-left: 25px;
}
.textlink{
  padding-left: 25px;
}
.links{
  line-height: 1.7em;

}
.sidebar{
  /*background-color: #EEEEEE;*/
  float: right;
  width: 270px;
  position: relative;
  top: -80px;
  border-left: 1px solid #dbdbdb;
}
.sidebar h2{
  color: #505050;
  margin: 10px 0 10px 10px;
  font-size: 1.9em;
}
.sidebar a{
  text-decoration: none;
}
.sidebar a:hover{
  color: #1167B0;
  text-decoration: underline;
}
.sidebar ul{
  margin: 0;
  padding: 0 10px 10px 10px;

}
.sidebar li{
  list-style: none;
  background-image: url("../images/live.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  padding: 10px 0 10px 70px;
  font-size: 1.5em;
}
.bb{

  border-bottom: 1px solid #DDDDDD;
}
.sidebartextlink{
  margin: 0;
  margin-top: 10px;
  margin-left:  10px;
  margin-bottom: 15px;
  width: 200px;
  font-size: 1.1em;
  padding: 9px;
  border-bottom: 1px solid #DDDDDD;


}
.sidebartextlink a:hover{
  text-decoration: none;
}
.sidebartextlink :hover{
background-color: #F5F5F5;
}
.features{
  margin: 5px;
  padding-top: 0;
  background-color: #F5F5F5;
  padding-left:  20px;
}
.topnews{
  padding: 0;
  margin-top: 5px;
  margin-left: 5px;
  padding-top:5px;
  background-color: #F5F5F5;
  padding-left:  5px;
}
.topnews p{
  float:right;
}
.sidebarimg{
  float: left;
  height: 100px;
  width: 100px;
}
