/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
html{
    box-sizing: border-box;
    font-family: Arial,sans-serif,helvetica;
    color: var(--dark);

}
body{
    background-color: #fff;
    line-height: 1.1;
}

img {
  max-width: 100%;
}

.wrapper {
  margin: 20px 100px;
  display: grid;
  grid-gap: 15px;
}
a {
  text-decoration: none;
  padding: .5rem;
  text-align: left;
  color: var(--dark);
}
 a:hover{
  text-decoration:none;
   color: #1167A8;
  }
  .link a {
   border-left: 2px solid #FA0400;
   padding: 0.5rem;
   text-align: center;
   color: var(--light);
   text-transform: uppercase;
   font-size: .7rem;

 }
 .link  :hover {
   text-decoration: underline;
   color: var(--light);
 }
 .whitebackgroundlink{
   border-left: 2px solid #FA0400;
   padding: 0.3rem;
   text-align: left;
  text-transform: uppercase;
   font-size: .7rem;
   margin: .1rem .7rem;

 }
 .whitebackgroundlink:hover{
text-decoration: underline;
 }
  .sectionlink  {
  border-left: 2px solid #0E3996;
  text-align: left;
  padding: .8rem;
  font-size: 1.2rem;


}


  .boxlink a {
    background: var(--primary);
    text-decoration: none;
    padding: 0.7rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: .8rem;
    box-shadow: var(--shadow);
    border-radius: 10px;


  }
  .boxlink  :hover {
    background: #1D3815;
    color: var(--light);
  }
/*------------------------------ Branding-------------------------------------------------------*/
#branding h2 {
  float:left;
  padding: 0;
  margin: 0;
}

#branding img{
  width: 100px;
  height: 50px;
  float:left;
}
#highlight{
  color:#1D3815;
  font-weight:bold;
  position: relative;
  top: 12px;
}
#news{
  color:#1D3815;
  font-size: 1.5em;
  position: relative;
  top: 14px;
}
/*  Search bar*/

 input[type="text"]{
  float:right;
  width:250px;
  border-sizing:border-box;
  border: 2px solid #1D3815;
  border-radius: 5px;
  font-size: 13px;
  padding: 4px;
  position: relative;
  top: 20px;

}

/* -------------------------------------Navigation -----------------------------------*/
.main-nav ul {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(9, 1fr);
}
.main-nav a {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.3rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: .8rem;
  box-shadow: var(--shadow);
}
.main-nav a:hover {
  text-decoration: none;
  background: #1D3815;
  color: var(--light);
}
/* Top Container */
.top-container {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    'showcase showcase  top-blog-a top-blog-e top-blog-e'
    'showcase showcase top-blog-c top-blog-d top-blog-b';
}
/* -----------------------------------------mainblog *-----------------------------------------*/
.mainblog {
  grid-area: showcase ;
  min-height: 300px;
  background: url(../img/chinese.jpg);
  background-size: cover;
  background-position: center;
  padding: .6rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content:flex-end;
  box-shadow: var(--shadow);
}
.mainblog h1 {
  font-size: 1.4rem;
  color: var(--light);
}
.mainblog p {
  font-size: 1.0rem;
  color: var(--light);
}

.textlink  :hover {
text-decoration: underline;
  color: var(--light);
}


/* -----------------------------------------------Top Blog---------------------------------- */
.top-blog{
  background: var(--primary);
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: .9rem;
}

.top-blog-a {
  grid-area: top-blog-a;
  background: url(../img/trump.jpg);
  background-size: cover;
  background-position: center;
  padding-top:3rem;
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content:flex-end;
  position: relative;
}
.top-blog-a p {
  font-size: 1.0rem;
  margin-bottom: 0;
  color: var(--light);
}

.top-blog-b {
  grid-area: top-blog-b;
  background: url(../img/intern.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content:flex-end;


}
.top-blog-b p {
  position: relative;
  padding-top: 80px;
  font-size: .8rem;
  color: #FA0400;
}
.top-blog-c {
  grid-area: top-blog-c;
  background: url(../img/world.jpeg);
  background-size: cover;
  background-position: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content:flex-end;
  }
.top-blog-c p {
  position: relative;
  padding-top: 100px;
    font-size: 1rem;
  color: var(--light);
}

.top-blog-d {
  grid-area: top-blog-d;
  background: url(../img/mars.jpeg);
  background-size: cover;
  background-position: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content:flex-end;
  position: relative;

}
.top-blog-d p {
  position: relative;
  padding-top: 100px;
  font-size: 1rem;
  color: var(--light);
}
.top-blog-e {
  grid-area: top-blog-e;
  background: url(../img/sea.jpeg);
  background-size: cover;
  background-position: center;
  padding: .9rem;
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content:flex-end;
  position: relative;

}
.top-blog-e p {
  position: relative;
  padding-top: 80px;
  font-size: 1rem;
  color: var(--light);
}
/*-----------------------News------------- Boxes---------------------------------------------- */
.newsbox1 {
  display: grid;
  grid-gap: 10px;

  grid-template-areas:
  'box1 box2 box3';
}
.newsbox2 {
  display: grid;
  grid-gap: 15px;
  background-color: #ddd;
  grid-template-areas:
  'box1 box2 box3'

}
.newsbox3 {
  display: grid;
  grid-gap: 15px;
  background-color: #DAEAB4;
  grid-template-areas:
  'box1 box2 box3 box4'

}

.box1  {
  grid-area: box1;
  box-shadow: var(--shadow);
  padding: .1rem;
}
.box1 h3  {
  padding: .1rem .5rem;
}
.box1 p  {
  padding: .1rem .5rem;
}

.box2  {
  grid-area: box2;
  box-shadow: var(--shadow);
  padding: .1rem;
/*  box-shadow: var(--shadow);*/
}
.box2 h3  {
padding: .1rem .5rem;
}
.box2 p  {
  padding: .1rem .5rem;
}
.box3  {
  grid-area: box3;
  box-shadow: var(--shadow);
  padding: .1rem;
}
.box3 h3  {
    padding: .1rem .5rem;
}
.box3 p  {
padding: .1rem .5rem;
}
.box4  {
  grid-area: box4;
  box-shadow: var(--shadow);
  padding: .1rem;
}
.box4 h3  {
    padding: .1rem .5rem;
}
.box4 p  {
padding: .1rem .5rem;
}
/*
.box3 p{
  text-align:justify;
  font-size: 15px;
  color: #000;
}
.box3 h4{
  height: 50px;
  margin: 0px;
  padding-top: 30px;
  text-align: center;
  color: #000;
}
.box3 h4:hover{
  height: 50px;
  background-size: cover;
  background-color: #fff;
  border-radius: 10px;

}*/

/*----------------------------world---------------- Boxes----------------------------------------------- */
/*.boxes {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.box{
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  /*  box-shadow: var(--shadow);*/
}
/*.box p{
  text-align:inherit;
}*/
/* ---------------Busniness--------------------------------Info--------------------- */
.info {
  background: var(--primary);
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem;
}
/* ------------------------LifeStyle--------------------------Portfolio -------------------------------*/
.portfolio {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
  width: 100%;
  box-shadow: var(--shadow);
}
/* -----------------------------------------Go to Top button-----------------------------------------*/
.go-top{
  position: fixed;
  bottom: 5em;
  right: 2em;
  background: var(--primary);
  text-decoration: none;
  padding: 0.6rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: .9rem;
  box-shadow: var(--shadow);
  border-radius: 10px;
  display: none;


}
.go-top:hover {
  text-decoration: none;
  background: #1D3815;
  color: var(--light);
}

/* -------------------------------------Footer------------------------------------------------- */
footer {
  background: #1D3815;
  color: var(--light);
  padding: 3rem;
  display: grid;
  grid-template-areas:
  'footer_container menu social'


}
.social{
  grid-area: social;



}

.social a {
  color: var(--light);
  text-decoration: none;

}
.social li {

  list-style: none;
  padding: .5rem;
}
.social ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}
.footer_container{
  grid-area: footer_container;
  padding: 2rem;
  text-align: left;
}
.menu{
  grid-area: menu;
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content:flex-start;


}
.menu a {
  color: var(--light);
  text-decoration: none;

}
.menu a:hover {
  text-decoration: underline;
    color: var(--light);

}
.menu li {
  list-style: none;
  padding: .5rem;
}


/* Media Queries */
@media (max-width: 700px) {
  .top-container {
    grid-template-areas:
      'showcase showcase'
      'top-box-a top-box-b'
      'top-box-c top-box-d';
  }

  .showcase h1 {
    font-size: 2.5rem;
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 500px) {

  #branding h1 h3{
    float: none
  }
  #branding img{

    float: none;
  }
  .top-container {
    grid-template-areas:
      'showcase'
      'top-box-a'
      'top-box-b'
      'top-box-c'
      'top-box-d';
  }
  .portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }

}
